html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: #36393E;
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
}

h1 {
    font-size: 3.8rem;
  }
  
  h2 {
    font-size: 2.8rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.topnav{
    overflow: hidden;
    background-color:#27292c;
    display: flex;
    justify-content: space-evenly;
}

.topnav a{
    color: white;
    text-align: center;
    padding: 1.6rem 1.4rem;
    text-decoration: none;
    font-size: 1.7rem;
    border-radius: 5rem;
}

.topnav a:hover{
    background-color: azure;
    color: black;
    font-weight: bold;
}

.titulo{
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    /* text-align: center; */
    margin-top: 100px;
    color: azure;
}

.logo{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.mensaje{
    color: #7289d9; 
    text-align: center;
}

.reglas h2{
    font-size: 4rem;
    color: red;
    margin-top: 5rem;
}

.reglas-foto{
    display: block;
    margin: auto;
}
.streamer{
    margin-top: 60px;
}

.streamer-nombre{
    text-decoration: none;
    color:lightseagreen;
}

#twitch-stream{
    text-align: center;
}

#twitch-stream2{
    text-align: center;
}


footer{
    padding: 2rem;
    background-color: gray;
    display: flex;
    margin-top: 4rem;
    font-size: 1.4rem;
    justify-content: flex-end;
}